//
//  Navigation variables
//  _____________________________________________

@navigation__background:@color-white;
@navigation-level0-item__font-size:24;
@navigation-level0-item__font-weight:@font-weight__regular;
@navigation-level0-item__text-transform:none;
@navigation-level0-item__border:none;
@navigation-level0-item__padding__alt: 8px @indent__xl 8px 24px;
@navigation-level0-item__color:@primary__color;
@navigation-desktop-level0-item__color:@primary__color;
