@import "variables/_colors_extend";
@import "variables/_buttons_extend";
@import "variables/_components_extend";
@import "variables/_forms_extend";
@import "variables/_icons_extend";
@import "variables/_navigation_extend";

@footer__background-color: @primary__color;
@product__image__background: @color-white-pinkish;

//
//  Typography variables
//  _____________________________________________

//
//  Fonts
//  ---------------------------------------------

//  Font families
@font-family__base: 'Poppins-500', sans-serif;
@font-family__secondary:'Roboto-500',sans-serif;







